<footer class="main-footer footer-style-two">
  <div class="container">

    <div class="widgets-section">

      <div class="row g-5 justify-content-between">
        <div class="col-sm-12 col-lg-5 col-xl-6 footer-widget_text">
          <div class="footer-widget about-widget">
            <div class="logo bg-white p-2 rounded mb-3">
              <a href="index.html"><img src="images/logo.png" alt="Logo"></a>
            </div>
            <div class="sec-title">
              <!-- <h4 class="title text-white mb-2">Ready Discover More? Contact Us Today!</h4> -->
              <p class="text">A SEBI-registered Category III Alternative Investment Fund dedicated to delivering superior risk-adjusted returns. The fund strategically identifies emerging micro-trends and high-growth sectors across the economy</p>
            </div>

            <!-- <div class="input-feild">
              <input type="text" placeholder="Email Address">
              <a class="btn-one-rounded" href="javascript:void(0)">Sign up now <i
                  class="fa-regular fa-angle-right"></i></a>
            </div> -->
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 col-xl-2 footer-widget-part">
          <div class="footer-widget links-widget">
            <h4 class="widget-title">Useful Links</h4>
            <div class="widget-content">
              <ul class="user-links">
                <li><a href="index.html">Home</a></li>
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="InvestmentStrategies.html">Investment Strategies</a></li>
                <li><a href="insights.html">Insights</a></li>
                <li><a href="contact-us.html">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3 footer-widget-part">
          <div class="footer-widget contact-widget">
            <h4 class="widget-title">Locations</h4>
            <div class="widget-content">
              <a
                href="https://www.google.com/maps/place/Harmony+Icon/@23.0541387,72.4930602,15z/data=!4m16!1m9!4m8!1m6!1m2!1s0x395e9bbbcfc54cad:0x821285daf2c4cbdb!2sHarmony+Icon,+Zydus+Hospital+Rd,+nr.+Baghban+Party+Plot+Road,+Thaltej,+Ahmedabad,+Gujarat+380059!2m2!1d72.50063!2d23.053227!1m0!3m5!1s0x395e9bbbcfc54cad:0x821285daf2c4cbdb!8m2!3d23.053227!4d72.50063!16s%2Fg%2F11s34x8ycj?entry=ttu&g_ep=EgoyMDI1MDkxNy4wIKXMDSoASAFQAw%3D%3D"
                target="_blank">
                <h5 class="text">Office no. 201, 2nd Floor, Harmony Icon Thaltej, Ahmedabad, Gujarat 380059</h5>
              </a>
            </div>
            <h4 class="widget-title mt-3 Contact_footer">Contact</h4>
            <div class="widget-content">
              <a href="mailto:info@accorgrowthfund.com"><span class="__cf_email__">
                  <h5 class="text">info@accorgrowthfund.com</h5>
                </span></a>
              <h4 class="nuber"><a href="tel:012345688">+91 9624001765</a></h4>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="footer-bottom">
      <p class="copyright-text">@Copyright <span id="year"></span>, <a href="index.html">Accor Growth Fund</a> All
        Rights Reserved</p>
      <ul class="footer-nav">
        <li><a href="#0"><i class="fa-brands fa-facebook-f"></i></a></li>
        <li><a href="#0"><i class="fa-solid fa-x"></i></a></li>
        <li><a href="#0"><i class="fa-brands fa-vimeo-v"></i></a></li>
        <li><a href="#0"><i class="fa-brands fa-pinterest-p"></i></a></li>
      </ul>
      <button class="goTop-btn"><i class="fa-solid fa-angles-up"></i> <i class="fa-solid fa-angles-up"></i></button>
    </div>

  </div>

  <div class="sec-shape">
    <img class="animation__rotateAndScale" src="images/shape/globe-right.png" alt="Image">
  </div>
</footer>